@font-face {
  font-family: platia;
  src: url(/fonts/plateia/Plateia\Bold.ttf);
}

@font-face {
  font-family: roboto;
  src: url(/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: robotomono;
  src: url(/fonts/robotomono/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: audiowide;
  src: url(/fonts/audiowide/Audiowide-Regular.ttf);
}

@font-face {
  font-family: metal;
  src: url(/fonts/metal/MetalMania-Regular.ttf);
}

@-webkit-keyframes scroll {
  0% {
    left: 0px;
  }
  100% {
    left: -922px;
  }
}

@keyframes scroll {
  0% {
    left: 0px;
  }
  100% {
    left: -922px;
  }
}

@-webkit-keyframes navexpand {
  0% {
    left: 0px;
  }
  100% {
    left: 70%;
  }
}

@keyframes navexpand {
  0% {
    left: 0px;
  }
  100% {
    left: 70%;
  }
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0 solid;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: platia;
  background-color: black;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.twitter-logo {
  width: 20.38px;
  height: 16.57px;
}

.pink-yellow {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: black;
  -webkit-box-shadow: inset 0 0 5px transparent;
          box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff00ff;
  border-radius: 5px;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.pink-yellow {
  background: #F12C92;
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  --tw-shadow: 2px 2px #ebf759;
}

.navbar {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  width: 100%;
  margin-bottom: 2rem;
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: white;
}

.navbar a {
  font-family: "Roboto Mono",monospace;
  font-size: 15px;
  color: inherit;
  text-decoration: inherit;
}

.navbar .flex-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1rem;
  height: 72.89px;
}

.navbar .flex-lists .logo {
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
}

.navbar .flex-lists .logo a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .flex-lists .logo a img {
  width: 3.2rem;
  padding-bottom: 1rem;
}

.navbar .flex-lists .logo a .logo-font {
  font-family: metal;
  font-size: 2.5rem;
}

.navbar .flex-lists .mobile-menu {
  width: 37px;
  height: 37px;
  padding-right: .5rem;
  margin-right: 1rem;
}

.navbar .flex-lists .mobile-menu-exit {
  width: 16px;
  height: 16px;
}

.navbar .flex-lists nav {
  display: none;
}

.navbar .flex-lists nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .flex-lists nav .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .flex-lists nav .logos .twitter {
  width: 23.38px;
  height: 19.57px;
}

.navbar .flex-lists nav .logos .discord {
  width: 29px;
  height: 29px;
}

.navbar .flex-lists nav .logos .opensea {
  width: 24px;
  height: 24px;
}

.navbar .flex-lists .pink-button {
  display: none;
}

.navbar .flex-lists .pink-button .pink .connect {
  font-family: audiowide;
  font-size: .75rem;
  line-height: 1rem;
  border-width: 0;
  font-size: 12px;
}

.navbar .flex-lists nav.menu-btn {
  display: block;
}

.navbar .flex-lists nav {
  position: fixed;
  z-index: 999;
  width: 75%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  height: 100vh;
  padding-left: 1rem;
}

.navbar .flex-lists nav .menu {
  margin-top: 3.5rem;
}

.navbar .flex-lists nav .menu li a {
  text-decoration: none;
  display: block;
  padding: .5rem 0rem;
  font-size: 1rem;
  text-align: left;
}

.navbar .flex-lists nav .logos {
  margin-top: .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.navbar .flex-lists nav .logos li a {
  text-decoration: none;
  display: block;
  font-size: 1em;
  text-align: left;
}

.navbar .flex-lists nav .navbar-button {
  margin-top: 1rem;
}

.navbar .flex-lists nav .navbar-button .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.navbar .flex-lists nav .navbar-button .button-container button {
  position: relative;
  font-family: audiowide;
  color: white;
  font-size: .75rem;
  font-weight: bold;
  line-height: .2rem;
  border-width: 0;
  padding: 0.75rem .5rem;
  width: 105px;
  -webkit-transition: padding .3s, color .3s, background .3s, font-size .3s;
  transition: padding .3s, color .3s, background .3s, font-size .3s;
}

.navbar .flex-lists nav .navbar-button .button-container button:hover {
  padding: .85rem .8rem;
  color: #F12C92;
  background: #eaff00;
  font-size: .9rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mobile-menu-exit {
  float: right;
  margin: 1.5em;
  cursor: pointer;
}

.home-video {
  position: relative;
  margin-top: 4.59rem;
}

.home-video .video-container {
  position: absolute;
  width: 100%;
}

.home-video .video-container video {
  top: 70px;
  left: 0;
  width: 100%;
  height: 483px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 100%;
}

.home-video .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: robotomono;
  z-index: 20;
  height: 435px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
}

.home-video .home .logo {
  display: none;
}

.home-video .home .blurred-back {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 1rem 1rem 0rem 1rem;
}

.home-video .home .blurred-back p {
  line-height: 1.75rem;
  font-size: 1.125rem;
  color: white;
  margin: 0;
  padding-bottom: 1rem;
}

.home-video .home .home-button {
  margin-top: 2rem;
}

.home-video .home .home-button .button-container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
}

.home-video .home .home-button .button-container button {
  position: relative;
  font-family: audiowide;
  color: white;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1rem;
  border-width: 0;
  padding: 0.75rem 2rem;
  width: 100%;
  -webkit-transition: padding .3s, color .3s, background .3s, font-size .3s;
  transition: padding .3s, color .3s, background .3s, font-size .3s;
}

.home-video .home .home-button .button-container button:hover {
  padding: .85rem 2rem;
  color: #F12C92;
  background: #eaff00;
  font-size: .9rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.marquee-container {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 2.5rem;
}

.marquee-container .marquee {
  min-width: 100%;
  position: relative;
  background: #da350b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scroll 60s linear 0s infinite normal;
          animation: scroll 60s linear 0s infinite normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.marquee-container .marquee span {
  font-family: robotomono,roboto,plateia;
}

.whitepaper {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url(../images/violet-bk.jpg);
  background-position: 50%;
  background-size: cover;
  line-height: 1.4rem;
}

.whitepaper .container-whitepaper {
  font-family: robotomono;
  font-size: 15px;
  padding: .25rem .25rem 2rem .25rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whitepaper .container-whitepaper .flex-whitepaper {
  padding-left: 0;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.whitepaper .container-whitepaper .flex-whitepaper .column {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.whitepaper .container-whitepaper .flex-whitepaper .column .subtitle {
  margin-top: 1rem;
}

.whitepaper .container-whitepaper .flex-whitepaper .column ul {
  margin: 0;
  padding: 0;
  margin-left: 2rem;
  margin-top: 1.5rem;
  text-align: left;
}

.whitepaper .container-whitepaper .flex-whitepaper .column .whitepaper-button {
  margin-top: 2rem;
}

.whitepaper .container-whitepaper .flex-whitepaper .column .whitepaper-button .button-container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
}

.whitepaper .container-whitepaper .flex-whitepaper .column .whitepaper-button .button-container button {
  position: relative;
  font-family: audiowide;
  color: white;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1rem;
  border-width: 0;
  padding: 0.75rem 2rem;
  width: 100%;
  -webkit-transition: padding .3s, color .3s, background .3s, font-size .3s;
  transition: padding .3s, color .3s, background .3s, font-size .3s;
}

.whitepaper .container-whitepaper .flex-whitepaper .column .whitepaper-button .button-container button:hover {
  padding: .85rem 2rem;
  color: #F12C92;
  background: #eaff00;
  font-size: .9rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.whitepaper .container-whitepaper .flex-whitepaper .column2 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whitepaper .container-whitepaper .flex-whitepaper .column2 img {
  width: 267px;
  max-width: 100%;
  height: auto;
}

.roadmap {
  width: 100%;
  height: 100%;
  background-image: url(../images/Roadmap-bk.png);
  background-position: 50%;
  background-size: cover;
}

.roadmap .roadmap-flex {
  font-family: robotomono;
  font-size: 15px;
  padding: .25rem .25rem 2rem .25rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadmap .roadmap-flex .roadmap-title {
  font-family: audiowide;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 2rem;
}

.roadmap .roadmap-flex .phase-grid {
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  max-width: 1024px;
  gap: 2rem;
}

.roadmap .roadmap-flex .phase-grid .text {
  padding-left: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.roadmap .roadmap-flex .phase-grid .text .title {
  background-image: url(../images/PhaseBk.png);
  font-family: audiowide;
  font-weight: bold;
  width: 16rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  margin: 0;
  margin-top: 2rem;
}

.roadmap .roadmap-flex .phase-grid .text .subtitle {
  margin-top: 2rem;
}

.roadmap .roadmap-flex .phase-grid .text .description {
  margin-top: 2rem;
  font-size: 0.9375rem;
  line-height: 1.4rem;
}

.roadmap .roadmap-flex .phase-grid .phase-img, .roadmap .roadmap-flex .phase-grid .phase-img-l, .roadmap .roadmap-flex .phase-grid .phase-img-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadmap .roadmap-flex .phase-grid .phase-img img, .roadmap .roadmap-flex .phase-grid .phase-img-l img, .roadmap .roadmap-flex .phase-grid .phase-img-r img {
  margin-top: 1.5rem;
  width: 16rem;
  max-width: 100%;
  height: auto;
  border: 0.3rem solid #c70cc7;
}

.roadmap .roadmap-flex .phase-grid .phase-img-l {
  display: none;
}

.blue-purple-bk {
  background-image: url(../images/blue-purple-bk.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 1rem 0rem;
  line-height: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blue-purple-bk .team-flex {
  font-family: "Roboto Mono",monospace;
  font-size: 15px;
  padding: .25rem .25rem 2rem .25rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue-purple-bk .team-flex .title {
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: audiowide;
}

.blue-purple-bk .team-flex .team-text {
  max-width: 768px;
  padding-top: 4rem;
  text-align: center;
}

.blue-purple-bk .team-flex .team-text .short-text {
  margin: 0rem 1rem;
}

.blue-purple-bk .team-flex .team-text .long-text {
  margin: 2rem 1rem 0rem 1rem;
}

.blue-purple-bk .team-flex .team-grid {
  padding-top: 6rem;
  max-width: 1280px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 2rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.blue-purple-bk .team-flex .team-grid .person {
  width: 14rem;
}

.blue-purple-bk .team-flex .team-grid .person .person-photo {
  width: 14rem;
  max-width: 100%;
  height: auto;
}

.blue-purple-bk .team-flex .team-grid .person .person-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14rem;
}

.blue-purple-bk .team-flex .team-grid .person .person-data .name {
  font-size: 1.1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.blue-purple-bk .team-flex .team-grid .person .person-data .charge {
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.blue-purple-bk .team-flex .team-grid .person .person-data .twitter {
  margin-top: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.blue-purple-bk .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  padding: .25rem .25rem 2rem .25rem;
}

.blue-purple-bk .partners .title {
  margin-top: 4rem;
  font-size: 1.8rem;
  line-height: 2rem;
  font-family: audiowide;
  text-align: center;
}

.blue-purple-bk .partners .partners-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2rem;
  margin-top: 2rem;
  padding-top: 1.5rem;
}

.blue-purple-bk .partners .partners-flex img {
  width: 14rem;
}

.blue-purple-bk .partners .partners-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  gap: 4rem;
}

.blue-purple-bk .partners .partners-block img {
  width: 14rem;
  max-width: 100%;
  height: auto;
}

.discord-bk {
  background-image: url(../images/discord-bk.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.discord-bk .discord-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1rem;
}

.discord-bk .discord-flex .title {
  font-size: 1.6rem;
  line-height: 1.75rem;
  padding-bottom: 4rem;
  font-family: audiowide;
}

.discord-bk .discord-flex .question {
  font-family: robotomono;
}

.discord-bk .discord-flex .question .long-text {
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.discord-bk .discord-flex .button-container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
}

.discord-bk .discord-flex .button-container button {
  position: relative;
  font-family: audiowide;
  color: white;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1rem;
  border-width: 0;
  padding: 0.75rem 2rem;
  -webkit-transition: padding .3s, color .3s, background .3s, font-size .3s;
  transition: padding .3s, color .3s, background .3s, font-size .3s;
}

.discord-bk .discord-flex .button-container button:hover {
  padding: .85rem 2rem;
  color: #F12C92;
  background: #eaff00;
  font-size: .9rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.end {
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.end a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.end a .logo-end {
  width: 3.2rem;
  padding-bottom: 1rem;
}

.end a .logo-font {
  font-family: metal;
  font-size: 2.3rem;
}

.end .menu-logos {
  display: none;
}

@media (min-width: 480px) {
  .home-video .video-container video {
    height: 640px;
  }
  .home-video .home {
    height: 592px;
  }
  .container-whitepaper {
    max-width: 480px;
  }
  .roadmap .roadmap-flex {
    max-width: 480px;
  }
  .blue-purple-bk .team-flex {
    max-width: 480px;
  }
  .blue-purple-bk .partners {
    max-width: 480px;
  }
}

@media (min-width: 645px) {
  .navbar .flex-lists .logo {
    margin-right: 3rem;
  }
  .home-video .home .logo {
    display: block;
    z-index: 1;
  }
  .home-video .home .logo .flex-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-video .home .logo .flex-logo img {
    width: 25%;
    padding-bottom: 2.5rem;
  }
  .home-video .home .logo .flex-logo .logo-font {
    font-family: metal;
    font-size: 420%;
  }
  .home-video .home .home-button {
    margin-top: 4rem;
  }
  .home-video .home .home-button .button-container {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 42px;
  }
  .home-video .home .home-button .button-container button {
    position: relative;
    font-family: audiowide;
    color: white;
    font-size: .75rem;
    font-weight: bold;
    line-height: 1rem;
    border-width: 0;
    padding: 0.75rem 2rem;
    width: 100%;
    -webkit-transition: padding .3s, color .3s, background .3s, font-size .3s;
    transition: padding .3s, color .3s, background .3s, font-size .3s;
  }
  .home-video .home .home-button .button-container button:hover {
    padding: .85rem 2rem;
    color: #F12C92;
    background: #eaff00;
    font-size: .9rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar .flex-lists nav {
    position: fixed;
    z-index: 999;
    width: 28%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
    height: 100vh;
    padding-left: 1rem;
  }
  .navbar .flex-lists nav .menu {
    margin-top: 3.5rem;
  }
  .navbar .flex-lists nav .menu li a {
    text-decoration: none;
    display: block;
    padding: .5rem 0rem;
    font-size: 1rem;
    text-align: left;
  }
  .navbar .flex-lists nav .logos {
    margin-top: .5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .navbar .flex-lists nav .logos li a {
    text-decoration: none;
    display: block;
    font-size: 1em;
    text-align: left;
  }
  .navbar .flex-lists nav .navbar-button {
    margin-top: 1rem;
  }
  .navbar .flex-lists nav .navbar-button .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
  }
  .navbar .flex-lists nav .navbar-button .button-container button {
    position: relative;
    font-family: audiowide;
    color: white;
    font-size: .75rem;
    font-weight: bold;
    line-height: .2rem;
    border-width: 0;
    padding: 0.75rem .5rem;
    width: 105px;
    -webkit-transition: padding .3s, color .3s, background .3s, font-size .3s;
    transition: padding .3s, color .3s, background .3s, font-size .3s;
  }
  .navbar .flex-lists nav .navbar-button .button-container button:hover {
    padding: .85rem .8rem;
    color: #F12C92;
    background: #eaff00;
    font-size: .9rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .container-whitepaper {
    max-width: 645px;
  }
  .container-whitepaper .whitepaper-button {
    margin-bottom: 4rem;
  }
  .roadmap .roadmap-flex {
    max-width: 645px;
  }
  .blue-purple-bk .team-flex {
    max-width: 645px;
  }
  .blue-purple-bk .team-flex .team-grid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .blue-purple-bk .partners {
    max-width: 645px;
  }
  .blue-purple-bk .partners .partners-flex {
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) {
  .whitepaper {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .whitepaper .container-whitepaper {
    max-width: 768px;
  }
  .whitepaper .container-whitepaper .flex-whitepaper {
    padding-left: 2rem;
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .whitepaper .container-whitepaper .flex-whitepaper .column2 img {
    width: 336px;
  }
  .whitepaper .container-whitepaper .flex-whitepaper .column {
    text-align: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .roadmap {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .roadmap .roadmap-flex {
    max-width: 768px;
  }
  .roadmap .roadmap-flex .phase-grid {
    padding-left: 2rem;
    -ms-grid-columns: (minmax(0, 1fr))[7];
        grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .roadmap .roadmap-flex .phase-grid .text {
    padding-left: 0;
    grid-column: span 4/span 4;
  }
  .roadmap .roadmap-flex .phase-grid .phase-img-r {
    display: none;
  }
  .roadmap .roadmap-flex .phase-grid .phase-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5rem;
    grid-column: span 3/span 3;
  }
  .roadmap .roadmap-flex .phase-grid .phase-img-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: span 3/span 3;
  }
  .blue-purple-bk .partners {
    max-width: 768px;
  }
  .blue-purple-bk .partners .partners-flex {
    padding-top: 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
  }
  .blue-purple-bk .partners .partners-flex a {
    width: 100%;
  }
  .blue-purple-bk .partners .partners-flex a img {
    width: 100%;
  }
  .blue-purple-bk .partners .partners-block {
    margin-top: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blue-purple-bk .partners .partners-block a img {
    width: 10rem;
  }
  .discord-bk {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 1024px) {
  .navbar .flex-lists .logo {
    margin-left: 6rem;
  }
  .home-video .video-container video {
    height: 855px;
  }
  .home-video .home {
    height: 852px;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-exit {
    display: none;
  }
  .home-video .home .home-button {
    margin-top: 3.5rem;
  }
  .home-video .home .home-button .button-container {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 42px;
  }
  .home-video .home .home-button .button-container button {
    position: relative;
    font-family: audiowide;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    border-width: 0;
    padding: 0.75rem 2rem;
    width: 100%;
    -webkit-transition: padding .3s, color .3s, background .3s, font-size .3s;
    transition: padding .3s, color .3s, background .3s, font-size .3s;
  }
  .home-video .home .home-button .button-container button:hover {
    padding: .85rem 2rem;
    color: #F12C92;
    background: #eaff00;
    font-size: 1.2rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .home-video .home .blurred-back {
    margin-top: 4rem;
  }
  .navbar .flex-lists nav {
    position: relative;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 0;
    width: 100%;
    gap: 1rem;
  }
  .navbar .flex-lists nav .menu-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    margin-right: 0rem;
    gap: 3rem;
  }
  .navbar .flex-lists nav .menu-logos .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    margin: 0;
  }
  .navbar .flex-lists nav .menu-logos .menu li a {
    text-decoration: none;
    display: block;
    padding: .5rem 0rem;
    font-size: 1rem;
    text-align: left;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  .navbar .flex-lists nav .menu-logos .menu li a:hover {
    color: #ff00ff;
  }
  .navbar .flex-lists nav .menu-logos .logos {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .navbar .flex-lists nav .menu-logos .logos li a {
    text-decoration: none;
    display: block;
    font-size: 1em;
    text-align: left;
  }
  .navbar .flex-lists nav .navbar-button {
    margin: 0;
    margin-right: 3rem;
  }
  .navbar .flex-lists nav .navbar-button .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
  }
  .navbar .flex-lists nav .navbar-button .button-container button {
    position: relative;
    font-family: audiowide;
    color: white;
    font-size: .75rem;
    font-weight: bold;
    line-height: .2rem;
    border-width: 0;
    padding: 0.75rem .5rem;
    width: 105px;
    -webkit-transition: padding .3s, color .3s, background .3s, font-size .3s;
    transition: padding .3s, color .3s, background .3s, font-size .3s;
  }
  .navbar .flex-lists nav .navbar-button .button-container button:hover {
    padding: .85rem .8rem;
    color: #F12C92;
    background: #eaff00;
    font-size: .9rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .whitepaper .container-whitepaper {
    max-width: 1024px;
  }
  .roadmap .roadmap-flex {
    padding-right: 2rem;
    max-width: 1024px;
  }
  .roadmap .roadmap-flex .phase-grid .phase-img img {
    margin-right: 1.25rem;
  }
  .roadmap .roadmap-flex .phase-grid .phase-img-l .left {
    margin-top: 4rem;
    margin-right: 1.25rem;
    margin-left: 6rem;
  }
  .blue-purple-bk .team-flex {
    max-width: 1024px;
  }
  .blue-purple-bk .team-flex .team-grid {
    -ms-grid-columns: (minmax(0, 1fr))[4];
        grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .blue-purple-bk .partners {
    max-width: 1024px;
    gap: 0;
  }
  .blue-purple-bk .partners .partners-flex {
    padding-top: 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
  }
  .blue-purple-bk .partners .partners-flex a {
    width: 100%;
  }
  .blue-purple-bk .partners .partners-flex a img {
    width: 100%;
  }
  .blue-purple-bk .partners .partners-block {
    margin-top: 3rem;
    gap: 6rem;
  }
  .blue-purple-bk .partners .partners-block a img {
    width: 10rem;
  }
  .discord-bk {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .end .menu-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    margin-right: 0rem;
    gap: 1rem;
  }
  .end .menu-logos .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    margin: 0;
  }
  .end .menu-logos .menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5rem 0rem;
    font-size: .8rem;
    font-weight: 100;
    text-align: left;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  .end .menu-logos .menu li a:hover {
    color: #ff00ff;
  }
  .end .menu-logos .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    gap: 1rem;
  }
  .end .menu-logos .logos li a {
    text-decoration: none;
    display: block;
  }
  .end .menu-logos .logos li a .twitter {
    width: 23.38px;
  }
  .end .menu-logos .logos li a .discord {
    width: 29px;
  }
  .end .menu-logos .logos li a .opensea {
    width: 24px;
  }
}
/*# sourceMappingURL=main.css.map */